[submodule "public"]
	path = public
	url = git@github.com:joeycarter/joeycarter.github.io.git
[submodule "themes/para-minimal"]
	path = themes/para-minimal
	url = git@github.com:joeycarter/para-minimal.git
